<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel = "stylesheet" href = "/css/style.css">
</head>
<body>
 {% include 'header.njk' %}
 {% include 'recent-article.njk' %}
 {% include 'see-all-recent-news.njk' %}
  {% include 'circular-section.njk' %}
   {{ content | safe }}
   {% include 'circular-form.njk' %}
   {% include 'footer.njk' %}
</body>
</html>