<section id="circular" class="circular" data-aos="fade-up" data-aos-duration="2000">
  <h3 class="header-secondary" data-aos="fade-up" data-aos-duration="2000">
    Circular
  </h3>
  <div class="circular-grid" data-aos="fade-up" data-aos-duration="2000">
   {% include 'circular-card.njk' %} 
  </div>
</section>