
{%- for post in collections.circular | reverse -%}

<div class="modal circular-modal hidden">
 <embed src = "{{ post.data.file }}" type = "application/pdf" style = "width:100%; height:100%"></embed>
</div>

{%- endfor -%}

