 <header>
 {% include 'navigation.njk' %}
    <div class="header-content">
      <div class="text-box">
        <h1>
          <span>COCOA HEALTH &</span>
          <span>EXTENTION DIVISION</span>
        </h1>
        <p>(Internal Web Portal)</p>
      </div>

      <a href="#recent-news">
        <div class="scroll-down-box">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </a>
    </div>
  </header>