<nav class="navigation">
    <img class="logo" src="img/chedlogo.png" alt="logo" data-aos="fade-right" data-aos-duration="2000" />
    <ul class="widget" data-aos="fade-left" data-aos-duration="2000">
        <li>
            <a class="nav-link" href="#home">Home</a>
        </li>
        <li>
            <a class="nav-link" href="#recent-news">Recent News</a>
        </li>
        <li>
            <a class="nav-link" href="#circular">Circular</a>
        </li>
        <li>
            <a class="nav-link" href="#requisition">Requisition</a>
        </li>
        <li>
            <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li>
            <a class="nav-link" href="#">Admin Panel</a>
        </li>
    </ul>
</nav>