<nav class="navigation">
    <img class="logo" src="/img/chedlogo2.png" alt="logo" data-aos="fade-right" data-aos-duration="2000" />
    <ul class="widget" data-aos="fade-left" data-aos-duration="2000">
        <li>
            <a class="nav-link" href="/index.html#">Home</a>
        </li>
        <li>
            <a class="nav-link" href="/index.html#recent-news">Recent News</a>
        </li>
        <li>
            <a class="nav-link" href="/index.html#circular">Circular</a>
        </li>
        <li>
            <a class="nav-link" href="/index.html#requisition">Requisition</a>
        </li>
        <li>
            <a class="nav-link" href="/telephones/index.html">Telephone Exchange</a>
        </li>
        <li>
            <a class="nav-link" href="https://ched-internalweb-portal.netlify.app/admin">Admin Panel</a>
        </li>
    </ul>
</nav>