<section id="recent-news" class="recent-news" data-aos="fade-up" data-aos-duration="2000">
    <h3 class="header-secondary" data-aos="fade-up" data-aos-duration="2000">
        Recent News
    </h3>

    {% include 'recent-article-box.njk' %}
</section>