{%- for post in collections.post | reverse -%}
<div class="container-grid">
    <div class="content">
        <div class="publisher-info">
            <span class="read"></span>
            <p class="publisher">
                by <span class="publisher-name">{{ post.data.author }}</span>
            </p>
            <span class="date">{{ post.data.date }}</span>
        </div>
        <h4 class="news-header">
            {{ post.data.title }}
        </h4>
        <p class="news-content">
            {{ post.data.content }}
        </p>
    </div>
    <a class="more"></a>
    <figure>
        <img class="news-img" src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" />
        <figcaption>
            {{ post.data.imageCaption }}
        </figcaption>
    </figure>
</div>
{%- endfor -%}