  <input
      type="text"
      id="myInput"
      onkeyup="myFunction()"
      placeholder="Search for names.."
      title="Type in a name"
    />

    <table id="myTable" border="1">
      <tr id="header" class="header">
        <th>REGION</th>
        <th>DISTRICT</th>
        <th>RANK</th>
        <th>DEPARTMENT</th>
        <th>Name</th>
        <th>EXTENSION</th>
      </tr>
       <tr class="row">
        <td>Accra</td>
        <td>Okaishei</td>
        <td>Manager</td>
        <td>ISD</td>
        <td>Akfreds Futterkiste</td>
        <td>2244</td>
      </tr>
      <tr class="row">
        <td>Kumasi</td>
        <td>Sofo</td>
        <td>Assistant Officer</td>
        <td>Telephone Exchange</td>
        <td>Akfreds Nortey</td>
        <td>2244</td>
      </tr>
      <tr class="row">
        <td>Tarkoradi</td>
        <td>Anagye</td>
        <td>Manager</td>
        <td>Public Affairs</td>
        <td>Benjamin Coffie</td>
        <td>2233</td>
      </tr>
      <tr class="row">
        <td>Accra</td>
        <td>Okaishei</td>
        <td>Senior Officer</td>
        <td>ISD</td>
        <td>Emmanuel Futterkiste</td>
        <td>2141</td>
      </tr>
      <tr class="row">
        <td>Eastern</td>
        <td>Kamscodi</td>
        <td>Senior Officer</td>
        <td>Public Affairs</td>
        <td>Rita Afrifa</td>
        <td>2254</td>
      </tr>
      <tr class="row">
        <td>Accra</td>
        <td>Okaishei</td>
        <td>Manager</td>
        <td>ISD</td>
        <td>Akfreds Futterkiste</td>
        <td>2244</td>
      </tr>
      <tr class="row">
        <td>Accra</td>
        <td>Okaishei</td>
        <td>Manager</td>
        <td>ISD</td>
        <td>Akfreds Futterkiste</td>
        <td>2244</td>
      </tr>
      <tr class="row">
        <td>Accra</td>
        <td>Okaishei</td>
        <td>Manager</td>
        <td>ISD</td>
        <td>Akfreds Futterkiste</td>
        <td>2244</td>
      </tr>
    </table>