---
title: CHED Intranet
layout: "base.njk"
---

<section id="requisition" class="requisition" data-aos="fade-up" data-aos-duration="2000">
  <h3 class="header-secondary requisition-header" data-aos="fade-up" data-aos-duration="2000">
    Requisition Forms
  </h3>
  <div class="requisition-grid-container" data-aos="fade-up" data-aos-duration="2000">
    <div class="requisition-grid requisition-grid-1">
      <h2>Medical Claim</h2>
      <div class="circle circle-1"></div>
    <i class="fa-regular fa-book-medical"></i>
    </div>
    <div class="requisition-grid requisition-grid-2">
      <h2>Transport</h2>
      <div class="circle circle-2"></div>
     <i class="fa-regular fa-truck"></i>
    </div>
    <div class="requisition-grid requisition-grid-4">
      <h2>Petty Cash</h2>
      <div class="circle circle-4"></div>
     <i class="fa-regular fa-money-bill-1-wave"></i>
    </div>
    <div class="requisition-grid requisition-grid-5">
      <h2>Staff Leave</h2>
      <div class="circle circle-5"></div>
    <i class="fa-regular fa-clipboard-user"></i>
    </div>
   
    <div class="requisition-grid requisition-grid-7">
      <h2>Maintenace</h2>
      <div class="circle circle-7"></div>
     <i class="fa-regular fa-screwdriver-wrench"></i>
    </div>
  </div>
</section>

<div class="overlay hidden"></div>

<script src="js/vanilla-tilt.min.js"></script>
<script src="js/home.js"></script>

<script>
  VanillaTilt.init(document.querySelectorAll(".requisition-grid"), {
    max: 25,
    speed: 400,
  });

  AOS.init();
  
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
