---
title: CHED Intranet
layout: "base.njk"
---

<section id="requisition" class="requisition" data-aos="fade-up" data-aos-duration="2000">
  <h3 class="header-secondary requisition-header" data-aos="fade-up" data-aos-duration="2000">
    Requisition Forms
  </h3>
  <div class="requisition-grid-container" data-aos="fade-up" data-aos-duration="2000">
    <div class="requisition-grid requisition-grid-1">
      <h2>Medical Claim</h2>
      <div class="circle circle-1"></div>
      <img src="img/22930-3-health-clipart.png" alt="" />
    </div>
    <div class="requisition-grid requisition-grid-2">
      <h2>External Transport</h2>
      <div class="circle circle-2"></div>
      <img src="img/transport.png" alt="" id="transport" />
    </div>
    <div class="requisition-grid requisition-grid-3">
      <h2>Internal Transport</h2>
      <div class="circle circle-3"></div>
      <img src="img/internal transport.png" alt="" id="internalTransport" />
    </div>
    <div class="requisition-grid requisition-grid-4">
      <h2>Petty Cash</h2>
      <div class="circle circle-4"></div>
      <img src="img/petty-cash.png" alt="" id="pettyCash" />
    </div>
    <div class="requisition-grid requisition-grid-5">
      <h2>Senior Staff Leave</h2>
      <div class="circle circle-5"></div>
      <?xml version="1.0" encoding="utf-8"?>
      <!---- Svg Vector Icons : http://www.onlinewebfonts.com/icon -->
      <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
      <svg id="seniorStaff" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
        <metadata>
          Svg Vector Icons : http://www.onlinewebfonts.com/icon
        </metadata>
        <g>
          <path
            d="M268.6,370.5c0,22.1,17,40,37.8,40h0.7c7.9,105.9,91.2,211.8,193.1,211.8c101.8,0,185.2-105.9,193.1-211.8h0.7c20.9,0,37.8-17.9,37.8-40c0-16.4-9.2-30.4-22.4-36.6c7.7-23.8,11.8-49.2,11.8-75.7c0-129.4-98.9-234.4-221-234.4c-122.1,0-221,105-221,234.4c0,26.5,4.2,52,11.8,75.7C277.8,340.1,268.6,354.1,268.6,370.5z" />
          <path
            d="M848,971.6c-82.6,0-149.6-67-149.6-149.6c0-42.7,17.9-81.1,46.5-108.4c-26.1-10.1-52.8-18.5-79.9-25.3c-3-1.6-6.3-2.5-9.8-2.5h-10.7c-3.4,0-6.7,0.9-9.7,2.5c-35.8,19.1-84.9,30.2-134.7,30.2c-49.8,0-98.8-11-134.7-30.2c-3-1.5-6.3-2.4-9.7-2.4h-7.9c-1.6,0-3.2,0.2-4.7,0.6c-121.5,28.7-234.5,91.2-326.9,180.8c-4,3.8-6.2,9.2-6.2,14.8v73.6c0,11.3,9.2,20.6,20.6,20.6h938.9c11.4,0,20.6-9.2,20.6-20.6V882c0.1-2.9-0.5-5.7-1.6-8.3C967.3,930.8,912.4,971.6,848,971.6z" />
          <path
            d="M849.6,685c-74.9,0-135.7,60.7-135.7,135.7c0,74.9,60.7,135.7,135.7,135.7s135.7-60.7,135.7-135.7C985.2,745.7,924.5,685,849.6,685z M881.8,890.9h-41.3l58.5-56.2H744.3v-28.1h154.6l-58.5-56.2h41.3l73.1,70.2L881.8,890.9z" />
        </g>
      </svg>
    </div>
    <div class="requisition-grid requisition-grid-6">
      <h2>Junior Staff Leave</h2>
      <div class="circle circle-6"></div>
      <?xml version="1.0" encoding="utf-8"?>
      <!-- Svg Vector Icons : http://www.onlinewebfonts.com/icon -->
      <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
      <svg id="JuniorStaff" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
        <metadata>
          Svg Vector Icons : http://www.onlinewebfonts.com/icon
        </metadata>
        <g>
          <path
            d="M268.6,370.5c0,22.1,17,40,37.8,40h0.7c7.9,105.9,91.2,211.8,193.1,211.8c101.8,0,185.2-105.9,193.1-211.8h0.7c20.9,0,37.8-17.9,37.8-40c0-16.4-9.2-30.4-22.4-36.6c7.7-23.8,11.8-49.2,11.8-75.7c0-129.4-98.9-234.4-221-234.4c-122.1,0-221,105-221,234.4c0,26.5,4.2,52,11.8,75.7C277.8,340.1,268.6,354.1,268.6,370.5z" />
          <path
            d="M848,971.6c-82.6,0-149.6-67-149.6-149.6c0-42.7,17.9-81.1,46.5-108.4c-26.1-10.1-52.8-18.5-79.9-25.3c-3-1.6-6.3-2.5-9.8-2.5h-10.7c-3.4,0-6.7,0.9-9.7,2.5c-35.8,19.1-84.9,30.2-134.7,30.2c-49.8,0-98.8-11-134.7-30.2c-3-1.5-6.3-2.4-9.7-2.4h-7.9c-1.6,0-3.2,0.2-4.7,0.6c-121.5,28.7-234.5,91.2-326.9,180.8c-4,3.8-6.2,9.2-6.2,14.8v73.6c0,11.3,9.2,20.6,20.6,20.6h938.9c11.4,0,20.6-9.2,20.6-20.6V882c0.1-2.9-0.5-5.7-1.6-8.3C967.3,930.8,912.4,971.6,848,971.6z" />
          <path
            d="M849.6,685c-74.9,0-135.7,60.7-135.7,135.7c0,74.9,60.7,135.7,135.7,135.7s135.7-60.7,135.7-135.7C985.2,745.7,924.5,685,849.6,685z M881.8,890.9h-41.3l58.5-56.2H744.3v-28.1h154.6l-58.5-56.2h41.3l73.1,70.2L881.8,890.9z" />
        </g>
      </svg>
    </div>
    <div class="requisition-grid requisition-grid-7">
      <h2>Maintenace</h2>
      <div class="circle circle-7"></div>
      <img src="img/maintenance.png" alt="" id="maintence" />
    </div>
  </div>
</section>


<a class="print-doc hidden">Print</a>

<div class="overlay hidden"></div>

<script src="js/vanilla-tilt.min.js"></script>
<script src="js/home.js"></script>

<script>
  VanillaTilt.init(document.querySelectorAll(".requisition-grid"), {
    max: 25,
    speed: 400,
  });

  AOS.init();
</script>
</body>