---
title: CHED Intranet
layout: "telephone-base.njk"
---

    <div class="container">
      <input
        type="text"
        id="myInput"
        onkeyup="filterTable()"
        placeholder="Search..."
        title="Type in a name"
      />

      <table id="myTable" border="1">
        <thead></thead>
        <tbody></tbody>
      </table>
    </div>

    <script src ="../js/home.js"></script>

 <script>
  
//API fetching and displaying data from the API in a table format 
async function loadIntoTable(url, table) {
  const tableHead = document.querySelector("thead");
  const tableBody = document.querySelector("tbody");
  const response = await fetch(url);
  const {data} = await response.json();
  console.log(data);


  tableHead.innerHTML = `<tr id ='header' class = 'header'>
    <th>ID</th>
        <th>REGION</th>
        <th>DISTRICT</th>
        <th>RANK</th>
        <th>DEPARTMENT</th>
        <th>Name</th>
        <th>EXTENSION</th></tr>`;
  tableBody.innerHTML = "";

  {# for (const headerText of headers) {
    const headerElement = document.createElement("th");
    headerElement.textContent = headerText;
    tableHead.querySelector("tr").appendChild(headerElement);
  } #}

  for (const row of data) {
    const rowElement = document.createElement("tr");
    rowElement.className = "row";

    for (const cellText in row) {
      const cellTextElement = document.createElement("td");
      cellTextElement.textContent = `${row[cellText]}`;
      rowElement.appendChild(cellTextElement);
    }

    tableBody.appendChild(rowElement);
  }
}

loadIntoTable("https://ched.com.gh/applications/exchange/api/post/read.php", document.querySelector("table"));


//filter the data in the table

function filterTable() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  var rows = table.getElementsByClassName("row");
  for (i = 0; i < rows.length; i++) {
    var cells = rows[i].getElementsByTagName("td");
    var j;
    var rowContainsFilter = false;
    for (j = 0; j < cells.length; j++) {
      if (cells[j]) {
        if (cells[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
          rowContainsFilter = true;
          continue;
        }
      }
    }

    if (!rowContainsFilter) {
      rows[i].style.display = "none";
    } else {
      rows[i].style.display = "";
    }
  }
}

 </script>
